@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.header{
    margin: 2vw;
    margin-bottom: 1vh;
}
#titleh{
    font-family: "Space Grotesk", sans-serif;
    font-size: 3vw;
    font-weight: bolder;
}
.sub{
    display: inline-flex;
    margin-top: 2vh;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.3vw;
    font-weight: 400;
    color: rgb(85, 84, 84);
}
#verif{
    vertical-align: center;
    height: 2.8vh;
    width: 2.8vh;
}

@media only screen and (max-width:768px){
    #titleh{
        margin-left: 20vw;
        font-size: 40px;
    }
    .sub{
        font-size: 20px;
    }
    
}
